body::after {
    content: url(/fondos/01.avif) url(/fondos/02.avif) url(/fondos/03.avif) url(/fotos/02.avif) url(/fotos/05.avif) url(/fondos/01.avif); 
    display: none;
}

.content_1 {
    background-repeat:no-repeat;
    animation: slide_desktop 30s ease-in-out infinite;
}

@keyframes slide_desktop {
    0%, 100% {
        background:url(/fondos/01.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
    33% {
        background:url(/fondos/02.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
    66% {
        background:url(/fondos/01.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
}

.content_1_mobile {
    background-repeat:no-repeat;
    animation: slide_mobile 30s ease-in-out infinite;
}

@keyframes slide_mobile {
    0%, 100% {
        background:url(/fotos/02.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
    33% {
        background:url(/fotos/05.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
    66% {
        background:url(/fotos/02.avif);
        background-position:center;
        background-size: cover;
        background-repeat:no-repeat;
    }
}

