/*Este apartado infiere solo en la visualización desktop*/
/*Cualquier modificación o sugerencia consultar al Desarrollador Front (si lo hacen sin consultar quien sea lo arregla xD) */

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative; 
}

.left-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.right-container {
    width: 50%;
    height: 100%;
    background-color: #F6EFE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.login-title {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-family: Asap Condensed;
    color: #CB3233;
}

.login-title p {
    border-bottom: 2px solid #FE1312;
    padding-bottom: 10px; 
  }

.parrafo-title{
    font-family: Asap Condensed;
    color: #CB3233;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.input-box {
    width: 100%;
    margin: 10px auto;
}


.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error-message{
    display: flex;
    font-family: my-font1;
    color:#CB3233;
}

.button-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.button-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-family: Asap;
}

/*Este apartado infiere en la visualización mobile y tablet */
.mobile-main-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative; 
    background-color: #F6EFE0;
}

.mobile-login-title {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    font-family: Asap Condensed;
    color: #CB3233;
}

.mobile-login-title p {
    border-bottom: 2px solid #FE1312;
    padding-bottom: 10px; 
}

.mobile-parrafo-title{
    padding-top: 18em;
    padding-left: 58px;
    font-family: Asap Condensed;
    color: #CB3233;
    font-weight: bold;
    font-size: 15px;
}

.mobile-input-box {
    width: 100%;
    margin: 10px auto;
}

.mobile-input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.mobile-error-message{
    font-family: my-font1;
    color:#CB3233;

}

.mobile-button-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.mobile-bottom-image {
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.mobile-button-container button {
    padding: 9px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-family: Asap;
}
